.owl-carousel.owl-theme#owl-demo
  .item
    img(src='http://lorempixel.com/output/transport-q-c-1800-480-8.jpg', alt='Welcome to 66 Winners')
  .item
    img(src='http://lorempixel.com/output/transport-q-c-1800-480-8.jpg', alt='Welcome to 66 Winners')
