doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Winners 66 | Home
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
    link(rel='stylesheet', href='/stylesheets/owl.theme.css')
    
    
  body
    //imports main-nav
    include main-nav.jade
    //imports carousel slider
    include carousel.jade
    
    main.row
      section.medium-4.columns
        figure.home-info
          h3 Winners of 66
          img(src='#')
          figcaption For those who were there in '66
          
      section.medium-4.columns
        figure.home-info
          h3 Todays Aspirers
          img(src='#')
          figcaption Why today's England team can win the world cup
        
      section.medium-4.columns
        figure.home-info
          h3 Future Winners
          img(src='#')
          figcaption Are you a future winner?
        
    main.row
      section.small-3.columns.sponsors
        img(src='#')
      section.small-3.columns.sponsors
        img(src='#')
      section.small-3.columns.sponsors
        img.sponsors(src='#')
      section.small-3.columns.sponsors
        img.sponsors(src='#')

    //imports footer
    include footer.jade
    
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/js/foundation.min.js')
    script.
      $(document).foundation();
    script(src='/js/owl.carousel.min.js')
    script(src='/js/app.js')
